
name: BetaBernoulli-v1
description: A simple Beta-Bernoulli model
author: Lazy Dynamics
roles:
  - user

arguments:
  - name: prior_a
    description: The initial alpha parameter of the prior Beta distribution `p`
    type: int
    required: false
    default: 1
  - name: prior_b
    description: The initial beta parameter of the prior Beta distribution `p`
    type: int
    required: false
    default: 1

parameters:
  - name: posterior_a
    description: The posterior parameter `a` of the Beta distribution
  - name: posterior_b
    description: The posterior parameter `b` of the Beta distribution

data:
  - name: observation
    description: A single `1` or `0` value indicating the outcome of a Bernoulli trial
    type: int
    required: true