*.so
*.dylib
*.jl.*.cov
*.jl.cov
*.jl.mem
.env.*.local
/Manifest.toml
/Manifest-v1.11.toml
/docs/Manifest.toml
/docs/build/
/docs/src/openapi/
/scripts/Manifest.toml
.server-logs/

/openapi/client/Manifest.toml
/openapi/server/Manifest.toml

/custom_models/